@font-face {
	font-family: 'MyFont';
	src: url('Nunito.ttf');
}

* {
	font-family: 'MyFont', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

:root {
	--color-1: #46b4d6;
	--color-2: #00bd8f;
	--color-3: #121212;
	--color-4: #fcfcfc;
	--color-3-a: #111;
	--color-3-b: #333;
	--color-3-a-hover: #161616;
	--color-3-b-hover: #444;
}

.red-text {
	color: red;
}

.flex-center {
	display: flex;
	align-items: center;
}

body {
	color: var(--color-4);
	min-height: 100vh;
	margin: 0 15rem;
	background-color: var(--color-3);;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-3);
	margin-top: 2rem;
}

.error-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid var(--color-3-b);
	border-radius: 24px;
	padding: 1rem 2rem;
	font-size: 1.3em;
}

.a-link {
	margin-top: 8px;
	text-decoration: none;
	color: var(--color-2);
	transition: color 0.3s ease;
	&:hover {
		color: var(--color-1);
	}
}

.interactive-elem {
	border: 2px solid var(--color-3-b);
	border-radius: 24px;
	padding: 18px 24px;
	color: var(--color-4);
	font-size: 18px;
	transition: border-color 0.3s, background-color 0.3s;
}

label {
	color: var(--color-4);
	font-size: 20px;
}

input {
	background-color: var(--color-3-a);
	width: 100%;
	outline: none;
	box-sizing: border-box;
	&::placeholder {
		color: #777;
		font-weight: 400;
	}
	&:focus {
		border-color: var(--color-3-b-hover);
		background-color: var(--color-3-a-hover);
	}
	&:hover {
		border-color: var(--color-3-b-hover);
		background-color: var(--color-3-a-hover);
	}
}

.search-row-column {
	display: flex;
	gap: 12px;
}

.input-group {
	display: flex;
	flex-direction: column;
	width: 100%;
}

input[type="number"] {
	appearance: textfield
}

button {
	background-color: var(--color-1);
	cursor: pointer;
	font-weight: bold;
	&:hover {
		background-color: var(--color-2);
	}
}

.size-display-1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 1rem;
	width: 44rem;
}

.search-row {
	display: flex;
	gap: 12px;
	width: 100%;
	max-width: 800px;
}

.light-inter-elem {
	color: var(--color-4);
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 1rem;
	border: 2px solid var(--color-3-b);
	transition: all 0.3s ease;
	&:hover {
		border-color: var(--color-3-b-hover);
		background-color: var(--color-3-a-hover);
	}
}

.error-row {
	display: flex;
	gap: 12px;
	margin-top: 4px;
}

.error-text {
	color: #E31B1B;
	width: 100%;
	min-height: 1em;
}

.already-there {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-top: 0.5rem;
	font-size: 18px;
	& > a {
		color: var(--color-2);
		transition: all 0.4s ease;
		&:hover {
			color: var(--color-1);
		}
	}
}

@media (max-width: 500px) {
	body {
		margin: 0;
	}
	header {
		padding: 0.5rem;
	}
	.search-row-column {
		flex-direction: column;
	}
	.search-row {
		flex-direction: column;
	}
	.size-display-1 {
		width: 100%;
	}
}

@media (min-width: 500px) and (max-width: 1024px) {
	body {
		margin: 0;
	}
	header {
		padding: 0.5rem;
	}
	main {
		margin: 1rem;
	}
	.size-display-1 {
		max-width: 95vw;
	}
}